{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="my-4 text-center">Questions List</h2>

        <!-- Button to create a new question and search, aligned to the right -->
        <div class="mb-3 d-flex justify-content-end">
            <a href="{% url 'questions:question_create' %}" class="btn btn-primary me-2">Create New Question</a>
            <a href="{% url 'questions:question_search' %}" class="btn btn-outline-secondary">Search Question</a>
        </div>

        <div class="row">
            {% for question in questions %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border-0">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'questions:question_detail' question.id %}" class="text-decoration-none text-primary">
                                    {{ question.title }}
                                </a>
                            </h5>
                            <p class="card-text">Posted by: <strong>{{ question.user }}</strong></p>
                            <p class="card-text"><small class="text-muted">Created at: {{ question.created_at }}</small></p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 text-center">
                    <p>No questions available.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
